<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <context:property-placeholder location="application.properties"/>
       
    <bean id="signUpService" class="ru.itis.SignUpService">
        <constructor-arg name="passwordRepository" ref="passwordRepositoryJdbcTemplateImpl"/>
    </bean>

    <bean id="passwordRepositoryJdbcTemplateImpl" class="ru.itis.PasswordRepositoryJdbcTemplateImpl">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource">
        <constructor-arg name="configuration" ref="config"/>
    </bean>

    <bean id="config" class="com.zaxxer.hikari.HikariConfig">
        <property name="username" value="${db.user}"/>
        <property name="password" value="${db.password}"/>
        <property name="jdbcUrl" value="${db.url}"/>
        <property name="driverClassName" value="${db.driver}"/>
        <property name="maximumPoolSize" value="${db.hikari.pool-size}"/>
    </bean>
</beans>
